.link-button {
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    }
    
    nav {
    background-color: #333;
    padding: 10px 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    }
    
    ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    }
    
    li {
    display: inline-block;
    margin: 0 10px;
    }
    
    a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    }
    
    a:hover {
    background-color: #555;
    }
    
    @media only screen and (max-width: 600px) {
    nav {
    padding: 5px 0;
    }
    
    li {
    display: block;
    margin: 10px 0;
    }
    }
    