.container {
    max-width: 500px;
    margin: 20px auto 70px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    .container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    }
    
    .form-group {
    margin-bottom: 20px;
    }
    
    .form-group label {
    display: block;
    font-weight: bold;
    }
    
    .form-group input,
    .form-group select {
    width: 95%;
    padding: 13px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    }
    
    button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }
    
    button[type="submit"]:hover {
    background-color: #0056b3;
    }
    
    .error-message {
    color: #dc3545;
    font-size: 20px;
    margin: 10px;
    text-align: center;
    }
    